assets
protected/runtime
admin/protected/runtime/
admin/protected/runtime/*
admin/protected/runtime/**
admin/assets
img/photos
img/news
img/products
protected/views/component
protected/controllers/ComponentController.php