{% set base = App.baseurl %}
{% set cs = App.clientScript %}
{{ void(cs.registerMetaTag(NULL,NULL,NULL,{'charset':'utf-8'})) }}
{{ void(cs.registerMetaTag('en-GB','language')) }}
{{ void(cs.registerLinkTag('shortcut icon','image/x-ico',base ~ '/img/favicon.png')) }}
{{ void(cs.registerLinkTag('author',NULL,'https://kerem.ws')) }}
{{ void(cs.registerLinkTag('stylesheet','text/css','http://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed:400,300,700&subset=latin,latin-ext')) }}
{{ void(cs.registerMetaTag('yes','apple-mobile-web-app-capable')) }}
{{ void(cs.registerMetaTag('width=device-width, initial-scale=1, user-scalable=non','viewport')) }}
{{ void(cs.registerMetaTag(App.settings.get("seo","mainDescr"),'description')) }}
{{ void(cs.registerMetaTag(App.settings.get("seo","mainKwrds"),'keywords')) }}
{{ void(cs.registerCssFile(base ~ '/css/style.css')) }}
{{ void(cs.registerCssFile(base ~ '/css/exclude.css')) }}
{{ void(cs.registerScriptFile(base ~ '/js/vendor/jquery-1.11.1.min.js')) }}
{{ void(cs.registerScriptFile(base ~ '/js/plugin.js')) }}
{{ void(cs.registerScriptFile(base ~ '/js/main.js')) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head><title>{{ html.encode(this.pageTitle) | raw }}</title></head>
<body>
	{{ this.renderPartial('//layouts/svgfiles')}}
	<div class="overlay--mobile"></div>
	<!-- Header -->
	<header class="site-header">
		<!-- Navbar -->
		<div class="site-navbar">
			<div class="container">
				<!-- Navbar Left -->
				<div class="pull-left hidden-xs">
					{{ void(this.widget('application.components.widgets.LanguageSelect')) }}
					<a href="tel:{{ App.settings.get("contact","phone") }}" title="Telefon" class="site-navbar_item">
						<span>
							<svg class="icon"><use xlink:href="#icon-phone"></use></svg> {{ App.settings.get("contact","phone") }}
						</span>
					</a>
					<a href='mailto:{{ App.settings.get("contact","email") }}' title="E-Mail" class="site-navbar_item">
						<span><svg class="icon"><use xlink:href="#icon-email"></use></svg> {{ App.settings.get("contact","email") }}</span>
					</a>
				</div>
				<!-- Navbar Right -->
				<div class="pull-right hidden-xs">
					{% if App.user.isGuest %}
						<div id="user-box" class="user-box-frame">
							<div class="site-navbar_item user-box-frame_item">
								<span>
									<svg class="icon"><use xlink:href="#icon-login"></use></svg>
									{{ lang.t ('main', 'Giriş Yap veya Kaydol') }}
									<svg class="icon"><use xlink:href="#icon-arrow-drop-down"></use></svg>
								</span>
							</div>
							<div class="user-box">
								<!-- Sign-In -->
								<div id="login" class="user-box_sign-in">
									{{ void(this.widget('LoginPortlet')) }}
									{% set forgotpass = App.baseUrl ~ "/" ~ this.forgotpasslink %}
									<a href="{{ forgotpass }}" class="user-box-forgot-password" title="{{lang.t ('main', 'Şifremi Unuttum!') }}">{{lang.t ('main', 'Şifremi Unuttum!') }}</a>
								</div>
								<!-- Register Button -->
								{% set signup = App.baseUrl ~ "/" ~ this.registerlink %}
								<a href="{{ signup }}" class="user-box_register" title="{{lang.t ('main', 'Kayıt olmak istiyorum') }}">
									<svg class="icon"><use xlink:href="#icon-register"></use></svg> {{lang.t ('main', 'Kayıt olmak istiyorum') }}
								</a>
							</div>
						</div>
						<!-- User Box -->
					{% else %}
						<div id="user-box" class="user-box-frame">
							<div class="site-navbar_item user-box-frame_item">
								<span>
									<a href="{{ App.createUrl('site/logout') }}">
										<svg class="icon"><use xlink:href="#icon-login"></use></svg>
										{{ App.user.name }} {{lang.t ('main', 'olarak giriş yaptınız') }}, <strong>{{lang.t ('main', 'çıkış yap') }}</strong>
									</a>
								</span>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="container">
			<!-- Logo -->
			<a href="{{ base }}/" class="site-logo" title="Termodizayn">
				<img src="{{ base }}/img/site-logo.png" alt="Termodizayn">
			</a>
			<!-- Menu -->
			<nav class="site-nav hidden-xs">
				{% set geturl = App.request.getUrl() %}
				{% for menu in this.dynamicmenu %}
					{% set getactive = false %}
					{% set link = App.baseUrl ~ "/" ~ menu.alias %}
					{% if menu.type == "frontpage" %}
						{# check  #}
						{% if this.ishomepage %}
							{% set getactive = true %}
						{% endif %}
						{% set link = App.baseUrl ~ "/" %}
					{% endif %}
					<a href="{{ link }}" title="{{ menu.name }}" class="site-nav_item {{ ( menu.alias in geturl ) or ( getactive ) ? 'isActive' : '' }}">{{ menu.name }}</a>
				{% endfor %}
			</nav>
			<!-- Mobile Navigation -->
			<nav class="mobile-nav visible-xs">
				<div class="mobile-nav-button">
					<svg class="icon"><use xlink:href="#icon-menu"></use></svg>
				</div>
				<div class="mobile-nav-frame">
					<ul class="mobile-nav-menu">
						{% for menu in this.dynamicmenu %}
							{% set link = menu.alias %}
							{% if menu.type == "frontpage" %}
								{% set link = base ~ "/" %}
							{% endif %}
							<li>
								<a href="{{ link }}" title="{{ menu.name }}" class="mobile-nav-menu_item {{ menu.alias in geturl ? 'isActive' : '' }}">{{ menu.name }}</a>
							</li>
						{% endfor %}
					</ul>
					<div class="mobile-navbar">
						<div class="mobile-navbar_item">
							{{ void(this.widget('application.components.widgets.LanguageSelect',{'layout':'mobile'})) }}
						</div>
						<div class="mobile-navbar_item">
							<a href="tel:{{ App.settings.get("contact","phone") }}" title="Telefon" class="mobile-navbar-link">{{ App.settings.get("contact","phone") }} <svg class="icon"><use xlink:href="#icon-phone"></use></svg></a>
						</div>
						<div class="mobile-navbar_item">
							<a href="mailto:{{ App.settings.get("contact","email") }}" title="E-Posta" class="mobile-navbar-link">{{ App.settings.get("contact","email") }} <svg class="icon"><use xlink:href="#icon-email"></use></svg></a>
						</div>
					</div>
				</div>
			</nav>
			<!-- Mobile - Sign-in -->
			<div class="mobile-sign-in visible-xs">
				<div class="mobile-sign-in-button">
					<svg class="icon"><use xlink:href="#icon-login"></use></svg>
				</div>
				{% if App.user.isGuest %}
					<div class="user-box user-box--mobile">
						<!-- Sign-In -->
						<div class="user-box_sign-in">
							{{ void(this.widget('LoginPortlet')) }}
							{% set forgotpass = App.baseUrl ~ "/" ~ this.forgotpasslink %}
							<a href="{{ forgotpass }}" class="user-box-forgot-password" title="{{lang.t ('main', 'Şifremi Unuttum!') }}">{{lang.t ('main', 'Şifremi Unuttum!') }}</a>
						</div>
						<!-- Register Button -->
						{% set signup = App.baseUrl ~ "/" ~ this.registerlink %}
						<a href="{{ signup }}" class="user-box_register" title="{{lang.t ('main', 'Kayıt olmak istiyorum') }}">
							<svg class="icon"><use xlink:href="#icon-register"></use></svg> {{lang.t ('main', 'Kayıt olmak istiyorum') }}
						</a>
					</div>
				{% else %}
					<div id="user-box" class="user-box user-box--mobile">
						<div class="site-navbar_item user-box-frame_item">
							<span>
								<a href="{{ App.createUrl('site/logout') }}">
									<svg class="icon"><use xlink:href="#icon-login"></use></svg>
									{{ App.user.name }} {{lang.t ('main', 'olarak giriş yaptınız') }}, <strong>{{lang.t ('main', 'çıkış yap') }}</strong>
								</a>
							</span>
						</div>
					</div>
				{% endif %}
				</div>
			</div>
		</header>
		<!-- Alert area for layout -->
		{% if App.user.hasFlash('mainalert') %}
			<div class="alert-area">
				<div class="alert alert-success">
					{{ App.user.getFlash('mainalert') }}
				</div>
			</div>
		{% endif %}
		{% block content %}
			{{ content }}
		{% endblock %}
		<!-- Footer -->
		<footer class="site-footer">
			<div class="container">
				<!-- Footer Menu -->
				<div class="col-md-3 col-md-offset-1">
					<h4 class="footer-title">{{lang.t ('main', 'Hızlı Ulaşım') }}</h4>
					<ul class="footer-nav">
						{% set geturl = App.request.getUrl() %}
						{% for menu in this.footermenu %}
							{% set getactive = false %}
							{% set link = App.baseUrl ~ "/" ~ menu.alias %}
							{% if menu.type == "frontpage" %}
								{# check if is it the homepage #}
								{% if this.ishomepage %}
									{% set getactive = true %}
								{% endif %}
								{% set link = App.baseUrl %}
							{% endif %}
							<li>
								<a href="{{ link }}" title="{{ menu.name }}" class="footer-nav_item">{{ menu.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<!-- Subscribe & Social Networks -->
				<div class="col-md-4">
					<!-- Mail Subscribe -->
					<div class="footer-subscribe hidden-xs">
						<h4 class="footer-title">{{lang.t ('main', 'Yeniliklerden Haberdar Olun!') }}</h4>
						<span class="footer-subscribe_description">
							{{lang.t ('main', 'Yeni ürünler, gelecek fuarlar ve güncel gelişmelerden haberdar olmak için e-posta listemize kayıt olun.') }}
						</span>
						<form class="footer-subscribe_form" action="#" autocomplete="off">
							<input type="text" name="subscribe-mail" class="footer-subscribe-textbox" placeholder="{{lang.t ('main', 'E-Posta adresinizi yazın') }}">
							<button type="button" class="footer-subscribe-button">
							<svg class="icon"><use xlink:href="#icon-done"></use></svg>
							</button>
						</form>
					</div>
					<!-- Social Networks -->
					<div class="footer-social-frame">
						<h4 class="footer-title">{{lang.t ('main', 'Takip Edin') }}</h4>
						<div class="footer-social">
							<a href="{{ App.settings.get('social','facebook') }}" title="Facebook" target="_blank" class="footer-social_item">
								<svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
							</a>
							<a href="{{ App.settings.get('social','twitter') }}" title="Twitter" target="_blank" class="footer-social_item">
								<svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
							</a>
							<a href="{{ App.settings.get('social','googleplus') }}" title="Google+" target="_blank" class="footer-social_item">
								<svg class="icon"><use xlink:href="#icon-google-plus-square"></use></svg>
							</a>
							<a href="{{ App.settings.get('social','youtube') }}" title="Youtube" target="_blank" class="footer-social_item">
								<svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
							</a>
						</div>
					</div>
				</div>
				<!-- Footer Contact -->
				<div class="col-md-3">
					<h4 class="footer-title">{{lang.t ('main', 'İletişim') }}</h4>
					<ul class="footer-contact" itemscope itemtype="http://schema.org/LocalBusiness">
						<!-- E-Mail -->
						<li class="footer-contact_item">
							<i class="footer-contact_icon hidden-xs">
							<svg class="icon"><use xlink:href="#icon-email"></use></svg>
							</i>
							<div class="footer-contact_detail">
								<a itemprop="email" href="mailto:{{ App.settings.get("contact","email") }}" title="E-Mail">{{ App.settings.get("contact","email") }}</a>
							</div>
						</li>
						<!-- Phone Numbers -->
						<li class="footer-contact_item">
							<i class="footer-contact_icon hidden-xs">
							<svg class="icon"><use xlink:href="#icon-phone"></use></svg>
							</i>
							<div class="footer-contact_detail">
								<a itemprop="telephone" href="tel:{{ App.settings.get("contact","phone") }}" title="Telefon">{{ App.settings.get("contact","phone") }} (Pbx)</a>
								<span itemprop="faxNumber" class="footer-contact_line hidden-xs">{{ App.settings.get("contact","fax") }} (Fax)</span>
							</div>
						</li>
						<!-- Address -->
						<li class="footer-contact_item" itemscope itemtype="http://schema.org/PostalAddress">
							<i class="footer-contact_icon hidden-xs">
							<svg class="icon"><use xlink:href="#icon-home"></use></svg>
							</i>
							<address class="footer-contact_detail">
								<span itemprop="streetAddress" class="footer-contact_line">
									{{ App.settings.get("contact","address") }}
									<span class="footer-contact_line">{{ App.settings.get("contact","address2") }}</span>
								</span>
								<span class="footer-contact_line">
									{{ App.settings.get("contact","address3") }},
									<span itemprop="postalCode">{{ App.settings.get("contact","postCode") }}</span>
								</span>
								<span class="footer-contact_line">
									<span itemprop="addressLocality">{{ App.settings.get("contact","locality") }}</span>,
									<span itemprop="addressRegion">{{ App.settings.get("contact","region") }}</span>,
									<span itemprop="addressCountry">{{ App.settings.get("contact","country") }}</span>
								</span>
							</address>
						</li>
					</ul>
				</div>
			</div>
			<!-- Copyright -->
			<div class="footer-copyright">{{lang.t ('main', 'Telif hakları saklıdır') }}. © 2015 Termodizayn</div>
		</footer>
	</body>
</html>