<!-- Site Cover -->
	<div class="site-cover">
		<ul class="site-slider">
		{% for photo in photos %}
			<li class="site-slider-frame">
				<div class="site-slider-content" style="background-image:url(img/photos/{{ photo.photo }})">
					<div class="container">
						<div class="site-slogan">
							<h1 class="site-slogan_title">
							{{ photo.name }}
							</h1>
							<div class="site-slogan_text">
							{{ photo.desc}}
							</div>
							<a href="{{ photo.url }}" title="Hakkımızda" class="site-slogan_button hidden-xs">
                                Hakkımızda <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use></svg> 
                            </a>
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
<!-- Site Content -->
	<section class="site-content">
		<div class="container container--main">
			<div class="overlay"></div>
			<!-- Machines Category -->
			<div class="row">
				{% for category in categories %}
				<!-- {{ category.title }} -->
				<div class="category-container col-md-6">
					<div class="category-frame">
						<div class="home-category home-category--{{ category.slug }} home-category-index-{{ loop.index }}">
							<!-- Category Image -->
							<img src="{{ App.settings.get("photo","category_path") ~ category.image }}" class="home-category_image" width="210" height="188" alt="">
							<!-- Category Content -->
							<div class="home-category_content" itemscope itemtype="http://schema.org/ItemList">
								<h2 class="home-category-title home-category-title--blue" itemprop="name">{{ category.title }}</h2>
								<p class="home-category-text" itemprop="description">{{ category.description }}</p>
								<a href="#" title="Kullanım Alanları" class="home-category-button home-category-button--link">
									{{ lang.t ('main', 'Kullanım Alanları') }}
								</a>
								<button type="button" id="ice-view-all" class="home-category-button home-category-button--all">
									{{ lang.t ('main', 'Tüm Ürünler') }} <svg class="icon"><use xlink:href="#icon-expand-more"></use></svg>
								</button>
								<!-- Ice Machines - Product List -->
								<ul class="product-list">
									{% for product in category.product %}
									<li itemprop="itemListElement">
										<a href="{{ product_menu.alias }}/{{ category.slug }}/{{ product.slug }}" title="Yaprak buz makineleri (Tatlı su)" class="product-list_item" data-photo="{{ product.image }}" data-sourcepath="{{ App.settings.get('photo','product_path') }}" itemprop="url">
											{{ product.title }} <svg class="icon"><use xlink:href="#icon-chevron-right"></use></svg>
										</a>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="home-news-cover">
			<div class="container">
				<div class="title-group">
					<h1 class="title">HABERLER</h1>
					<span class="title-description">Hakkımızdaki en son gelişmeler ve haberler</span>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="home-news-frame">
							<ul class="news-slider">
							{% for news in newslist %}
								<li>
									<!-- News - #{{ loop.index }} -->
									<a href="{{ newsmenu.alias }}/{{ news.slug }}" title="{{ news.title }}" class="home-news">
										<img src="{{ App.settings.get("photo","news_path") }}/thumbs/min{{ news.image }}" alt="{{ news.title }}" class="home-news_img">
										<h2 class="home-news_title">{{ news.title }}</h2>
										<p class="home-news_text">{{ news.description }}</p>
										<span class="home-news_date">{{ App.dateFormatter.format('dd MMMM yyyy',news.date) }}</span>
									</a>
								</li>
							{% endfor %}
							</ul>
						</div>
						<a href="{{ newsmenu.alias }}" title="Tüm Haberler" class="button button--gray">Tüm Haberler</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<!-- References -->
			<div class="row">
				<div class="col-md-12">
					<div class="references references--partner">
						<div class="title-group">
							<h1 class="title">{{ partner_gallery.name }}</h1>
							<span class="title-description">{{ partner_gallery.desc }}</span>
						</div>
						<div class="references_frame">
							<ul class="references-slider">
							{% for photo in partners %}
								<li>
									<a href="{{ photo.url }}" title="{{ photo.name }}">
										<img src="img/photos/{{ photo.photo }}" alt="{{ photo.name }}" class="references-icon">
									</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="references">
						<div class="title-group">
							<h1 class="title">{{ reference_gallery.name }}</h1>
							<span class="title-description">{{ reference_gallery.desc }}</span>
						</div>
						<div class="references_frame">
							<ul class="references-slider">
							{% for photo in references %}
								<li>
									<a href="{{ photo.url }}" title="{{ photo.name }}">
										<img src="img/photos/{{ photo.photo }}" alt="{{ photo.name }}" class="references-icon">
									</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>