<!-- Product Detail -->
<div class="row">
    <!-- Product Detail - Info -->
    <div class="col-md-6 col-md-offset-6" itemscope="" itemtype="http://schema.org/Product" data-sticky_parent="">
        <!-- Product Head -->
        <div class="page-head page-head--product">
            <h1 class="page-head_title page-head--product_title" itemprop="name">{{ model.name }}</h1>
            <h2 class="page-head_description" itemprop="model">{{ product.title }}</h2>
        </div>
        <div class="row">
            <!-- Product Detail - Photo -->
            <div class="col-md-6 detail-photo-container" data-sticky_column="">
                <div class="detail-photo">
                    <!-- Image -->
                    <div class="detail-photo_image">
                        <ul class="detail-slider" itemscope itemtype="http://schema.org/ImageGallery">
                            {% for image in model.modelextras if image.type == 'image' %}
                            <li data-href="{{ App.baseUrl ~ '/' ~ App.settings.get("photo","model_path") ~ 'extras/' ~ image.path }}" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                <img src="{{ App.baseUrl ~ '/' ~ App.settings.get("photo","model_path") ~ 'extras/' ~ image.path }}" alt="{{ model.name }}" itemprop="contentUrl">
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="img/product-image-normal.png?zoom" class="detail-photo-zoom">
                            <svg class="icon icon-loupe"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-loupe"></use></svg>
                        </a>
                        </div>
                        <div class="hidden-xs">
                            <!-- Thumbnails -->
                            <h3 class="detail-photo_title">{{ lang.t ('main', 'GÖRSELLER') }}</h3>
                            <div id="detail-pager" class="detail-photo-thumbnail" itemscope="" itemtype="http://schema.org/ImageGallery">
                                {% for image in model.modelextras if image.type == 'image' %}
                                <a href="#" data-slide-index="{{ loop.index0 }}" class="detail-photo-thumbnail_item" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                                    <img src="{{ App.baseUrl ~ '/' ~ App.settings.get("photo","model_path") ~ 'extras/thumbs/min' ~ image.path }}" width="90" alt="{{ model.name }}" itemprop="thumbnail">
                                </a>
                                {% endfor %}
                            </div>
                            <!-- Videos -->
                            <h3 class="detail-photo_title">{{ lang.t ('main', 'VİDEOLAR') }}</h3>
                            <div class="detail-photo-thumbnail" itemscope="" itemtype="http://schema.org/videoGallery">
                            {% for video in model.modelextras if video.type == 'video' %}
                                <a href="https://www.youtube.com/watch?v={{ video.path }}" title="#" class="detail-photo-thumbnail_item detail-video" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/VideoObject">
                                    <img src="http://img.youtube.com/vi/{{ video.path }}/0.jpg" itemprop="thumbnail" width="80">
                                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-circle-outline"></use></svg>
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                        <!-- Documents -->
                        <h3 class="detail-photo_title hidden-xs">{{ lang.t ('main', 'DÖKÜMANLAR') }}</h3>
                        {% for file in model.modelextras if file.type == 'file' %}
                        <div class="detail-photo-documents-frame">
                            <a href="{{ App.baseUrl ~ '/' ~ App.settings.get("photo","model_path") ~ 'documents/' ~ file.path }}" title="#" class="detail-photo-documents">
                                <svg class="icon icon-pdf-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pdf-icon"></use></svg> {{ file.path }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="detail-info">
                <h3 class="detail-title visible-xs">{{ lang.t ('main', 'ÜRÜN HAKKINDA') }}</h3>
                <div class="detail-info_summary">
                    <p id="product-summary" itemprop="description" data-readmore="" aria-expanded="false" style="max-height: none; height: 85px;">
                        {{ model.content}}
                    </p>
                    <a href="" class="detail-info_readmore" data-readmore-toggle="" aria-controls="product-summary">{{ lang.t ('main', 'Devamını Gör') }}</a>
                </div>
                <div class="detail-info_price">
                    <h3 class="detail-title">{{ lang.t ('main', 'ÜRÜN FİYATI') }}</h3>
                    <div class="detail-info_price-frame">
                        <span class="detail-info_price-value" itemscope="" itemtype="http://schema.org/Offer">
                            <span itemprop="priceCurrency">€</span>
                            <span itemprop="price" content="{{ model.price }}">{{model.price }}</span>
                        </span>
                        <button class="detail-info_price-button">{{ lang.t ('main', 'Teklif Al') }}</button>
                    </div>
                </div>
                <!-- Product Specification -->
                <div class="detail-info_data">
                    <h3 class="detail-title">{{ lang.t ('main', 'TEKNİK BİLGİLER') }}</h3>
                    {% for attr in model.modelattrib %}
                    <dl class="detail-info_data_item">
                        <dt>{{ attr.attrib.title }}</dt>
                        <dd>{{ attr.value }}</dd>
                    </dl>
                    {% endfor %}
                </div>
                <!-- Product Specification - Standart -->
                <div class="detail-info_data">
                    <h3 class="detail-title">{{ lang.t ('main', 'ÇALIŞMA ŞARTLARI') }}</h3>
                    {% for main_attr in model.product0.productattrib %}
                    <dl class="detail-info_data_item">
                        <dt>{{ main_attr.attrib.title }}</dt>
                        <dd>{{ main_attr.value }}</dd>
                    </dl>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>