.site-nav_item {
    line-height: 24px;
}

.icon-large {
    font-size: 24px;
}

#content .quickadd input,
#content .quickadd select,
.quickadd label {
    height: 38px;
    line-height: 38px;
}

.sortable-button:focus,
.sortable-button:hover {
    cursor: move;
    cursor: row-resize;
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.sortable-button:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dataTable table {
    margin-bottom: 0px;
}

.dataTable table.items.table td {
    padding: 0px 15px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}

.dataTable table td .sortable-button {
    float: none;
    margin-top: 0px;
}

.dataTable table.items th a {
    display: block;
    position: relative;
}

.dataTable table.items th a .caret {
    display: none;
    position: absolute;
    right: 5px;
    top: 7px;
}

.dataTable table.items th a.asc .caret {
    display: block;
}

.dataTable table.items th a.desc .caret {
    border-bottom: 4px solid inherit;
    border-top: none;
    display: block;
}