.site-nav_item {
    line-height: 24px;
}

.icon-large {
    font-size: 24px;
}

#content .quickadd input,
#content .quickadd select,
.quickadd label {
    height: 38px;
    line-height: 38px;
}

.sortable-button:focus,
.sortable-button:hover {
    cursor: move;
    cursor: row-resize;
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.sortable-button:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dataTable table {
    margin-bottom: 0px;
}

.dataTable table.items.table td {
    padding: 0px 15px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}

.dataTable table td .sortable-button {
    float: none;
    margin-top: 0px;
}
.dataTable table.items th {
	padding: 10px 18px;
}

.dataTable table.items th a {
    display: block;
    position: relative;
}

.dataTable table.items th a .caret {
    display: none;
    position: absolute;
    right: 5px;
    top: 7px;
}

.dataTable table.items th a.asc .caret {
    display: block;
}

.dataTable table.items th a.desc .caret {
    border-bottom: 4px solid currentColor;
    border-top: none;
    display: block;
}

.dropdown-menu .divider {
	height: 2px;
}

.main-area h1 {
    margin-bottom:20px;
    margin-left:12px;
}

.dataTable table.items.table td.tabledesc,
.tabledesc {
    max-width:200px;
    font-size:11px;
    line-height:1.8;
}

.filter-container {
    margin-top: 5px;
}

.filter-container input {
    margin-bottom:5px;
    max-width:150px;
}

input[type="text"] {
    height: 38px;
}

.no-bg {
    background:none;
    background:none !important;
}

.form-section .toggle-button {
    display: block;
}

.hiddenfromnav {
    display: none;
}

.hiddenfromnav.isActive{
    display: block;
}

.select2-container-multi .select2-choices .select2-search-field input,
.select2 {
    height:38px;
}